@media (max-width:1220px){
    .heading{
        font-size: 40px;
        margin-top: 0;
    }
    .pageOne img{
        width: 350px;
        align-self: flex-start;
    }
    .navOptionsContainer{
        display: none;
    }
    .navbar{
        justify-content: space-between;
    }

    .pageTwo{
        flex-direction: column;
    }
    .personalized{
        width: 60%;
        text-align: center;
    }

    .pageTwo img{
        height: 780px;
    }

    .pageThree{
        /* flex-direction: row; */
        justify-content: center;
        width: auto;
        
    }

    .page3Head{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .cards2Container{
        flex-direction: column;
        width: auto;
    }

    .reviews{
        flex-direction: column;
    }
}

@media (max-width:850px){
    .leftContainer{
        width: 70%;
        
    }
    .pageOne img{
        display: none;
    }
    .cardsContainer{
        width: 320px;
        height: auto;
        grid-template-columns: 1fr;
    }

    .pageTwo{
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #f2f7fa;
    }
    .pageTwo img{
        display: none;
    }

}