body{
    padding: 0%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
}

.navbar{
    width: 100svw;
    height: 80px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E2E8F0;


}

.logo{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.navOptionsContainer{
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
    margin-left: 35px;
    gap: 30px;
    flex: 1;
}

.navOptionsContainer li{
    margin: 0;
    list-style: none;
    padding: 0;
    cursor: pointer;
    transition: color 150ms;
}

.navOptionsContainer li:hover{
    color: #7BC7E2;
}

.quotebutton{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 0.5px;
    background-color: #7BC7E2;
    color: white;
    height: 50px;
    padding: 10px 25px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 150ms;


}

.quotebutton:hover{
   background-color:  #56c1e7;
}

.pageOne{
    height: calc(100svh - 80px);
    width: 100svw;
    box-sizing: border-box;
    padding: 80px;
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}